@import "tailwindcss";

/* index.css */

/* Thanh cuộn tùy chỉnh */
.custom-scrollbar::-webkit-scrollbar {
  height: 8px; /* Chiều cao thanh scroll ngang */
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db; /* Màu xám */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Màu đậm hơn khi hover */
}